*{
    box-sizing: border-box;
    --main-color: #fff;
    --reserved-msg: #FFDEDE;
    --msg: #fff;
    --type-msg: #dcdcdc;

    --height-header: 80px;
    --height-footer: 80px;
    --space-word: 4px;
    --loading-size: 90px;

    --logo-uol: url("../img/logoUol.png");
    --img-loading: url('../img/loading.gif');

}

body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    background-color: #e5e5e5;
}

button {
    background: none;
    border: none;
}

/* -- Topo -- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--height-header);
    padding: 0 22px;

    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--main-color);
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

header figure {
    width: 75px;
    height: 53px;
    background-image: var(--logo-uol);
}
header ion-icon {
    font-size: 42px;
}

/* -- Principal -- */
main {
    display: flex;
    flex-direction: column;
    margin-top: var(--height-header);
}

/* -- Mensagem -- */
main article {
    display: flex;
    align-items: center;

    height: 40px;
    margin-bottom: 4px;

    background-color: var(--msg);
}

main article:first-child {
    margin-top: 26px;
}

main article:last-child {
    margin-bottom: 90px;
}

article time {
    margin-left: 8px;
}

article strong {
    font-weight: 700;
    margin-left: var(--space-word);
}

article p:nth-child(3){
    margin-left: var(--space-word);
}


/* -- Rodapé -- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--height-footer);

    padding: 0 17px;

    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: var(--main-color);
    box-shadow: 0px -1px 10px 2px rgba(0, 0, 0, 0.2);
}

footer input {
    border: none;
    font-style: italic;
    font-size: 18px;
    color: #000;
}

footer input::selection {
    border: none;
}

footer ion-icon {
    font-size: 26px;
}


/* -- Tela login -- */
.loginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
}

.loginScreen>figure {
    width: 130px;
    height: 92px;
    background-image: var(--logo-uol);
    background-size: cover;
    background-repeat: no-repeat;

    margin: calc((50vh - 57px - 92px)/2) 0;
}


.login, .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginScreen input {
    text-align: center;
    width: 260px;
    height: 54px;
    margin-bottom: 15px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    font-size: 18px;
    color: #aeaeae;
}

.loginScreen button {
    width: 109px;
    height: 45px;
    border-radius: 9px;

    font-size: 18px;

    background-color: #e7e7e7;
    color: #696969;
}

/* -- Tela de carregamento -- */

.loading figure{
    width: var(--loading-size);
    height: var(--loading-size);

    border-radius: 50%;
    margin-bottom: 20px;
    
    background-image: var(--img-loading);
    background-size: contain;
    background-repeat: no-repeat;
}



.hide {
    display: none;
}