*{
    box-sizing: border-box;
    --main-color: #fff;
    --reserved-msg: #FFDEDE;
    --normal-msg: #fff;
    --in-out-msg: #dcdcdc;


    --height-header: 80px;
    --height-footer: 80px;
    --space-word: 4px;
    --loading-size: 90px;

    --logo-uol: url("../img/logoUol.png");
    --img-loading: url('../img/loading.gif');

}

html {/* 
    -webkit-text-size-adjust: 100%; */
    width: 100vw;
    height: 100vh;
    position: relative;
}
body {
    min-width: 270px;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: static;
    background-color: #e5e5e5;
}

button {
    background: none;
    border: none;
}

/* -- Topo -- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--height-header);
    padding: 0 22px;

    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--main-color);
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

header figure {
    width: 75px;
    height: 53px;
    background-image: var(--logo-uol);
}

header section {
    display: flex;
    align-items: center;    
}


header .username {
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
    color: #696969;
}

header ion-icon {
    font-size: 42px;
}

header ion-icon:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.20));
}

header section ion-icon.icon_user {
    font-size: 30px;
    margin: 6px;
    color: #696969;
}
/* -- Principal -- */
main {
    display: flex;
    flex-direction: column;
    margin-top: var(--height-header);
}

/* -- Mensagem -- */
main article {
    display: inline;    
    align-items: center;
    min-height: 40px;

    padding: 5px 10px;
    padding-top: 10px;
    margin-bottom: 4px;

    background-color: var(--normal-msg);
}

article.reserved-msg{
    background-color: var(--reserved-msg);
}

article.in-out-msg{
    background-color: var(--in-out-msg);
}

main article:first-child {
    margin-top: 26px;
}

main article:last-child {
    margin-bottom: 90px;
}

article>span {
    display: inline-flex;
}

article>p {
    display: inline;
    line-height: 20px;
    word-wrap: break-word;
}

article strong {
    font-weight: 700;
    margin-left: var(--space-word);
}

article p:nth-child(3){
    margin-left: var(--space-word);
}


/* -- Rodapé -- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--height-footer);

    padding: 0 17px;

    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: var(--main-color);
    box-shadow: 0px -1px 10px 2px rgba(0, 0, 0, 0.2);
}

footer input {
    width: 90%;
    border: none;
    font-style: italic;
    font-size: 18px;
    color: #000;
}

footer input::selection {
    border: none;
}

footer ion-icon {
    font-size: 26px;
}

footer ion-icon:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.20));
}


/* -- Tela login -- */
.loginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
}

.loginScreen>figure {
    width: 130px;
    height: 92px;
    background-image: var(--logo-uol);
    background-size: cover;
    background-repeat: no-repeat;

    margin: calc((50vh - 57px - 92px)/2) 0;
}


.login, .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginScreen input {
    text-align: center;
    width: 260px;
    height: 54px;
    margin-bottom: 15px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    font-size: 18px;
    color: #000;
}

.loginScreen input:focus, input:focus, select:focus {
    outline: 0;
    caret-color: black;    
}


input.erro {
    border: 1px solid #ce1818;
}

.loginScreen button {
    width: 109px;
    height: 45px;
    border-radius: 9px;

    font-size: 18px;

    background-color: #e7e7e7;
    color: #696969;
}

/* -- Tela de carregamento -- */

.loading figure{
    width: var(--loading-size);
    height: var(--loading-size);

    border-radius: 50%;
    margin-bottom: 20px;
    
    background-image: var(--img-loading);
    background-size: contain;
    background-repeat: no-repeat;
}


/* -- Menu lateral -- */
.sidebar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 2;
    transition: color .1s linear;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}


nav {
    display: flex;
    flex-direction: column;
    width: 1px;
    height: 100%;
    
    overflow: hidden;
    padding: 0 18px;
    
    transition:width .15s linear;
    
    background-color: var(--main-color);
}


.nav-expand {
    width: 292px;
}

.background-expand {    
    background-color: rgba(0, 0, 0, 0.65);
}

.sidebar section:last-child header{
    height: 66px;
}

.sidebar header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    position: static;
    
    height: 84px;
    padding: 0 0;
    box-shadow: none;
}

.contacts ul {
    height: calc(100vh - (84px + 235px));
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 19px 3px;
}

li i {
    display: flex;
    align-items: center;
}

li ion-icon {
    font-size: 24px;
}

li p {
    font-size: 16px;
    margin-left: 8px;
}

li .check {
    display: none;
    color: #28BB25;
}

li:hover{
    cursor: pointer;
    box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.25);
}

ion-icon.selected {
    display: block;
}

.hide {
    display: none;
}